* {
    text-align: center;
    background-color: #777;
    color: #777;
    /* padding: 3px 10% 3% 10%;     */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}
header { 
    padding: 5% 0%;
}
nav {
    margin-top: 5px;
    padding: 10px 0px;
}

section {
    margin-top: 5px;
    float: left;
    width: 495px;
    width: 49%;
    padding: 50px 0px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 420px;
    /* z-index: 4; */
}
aside {
    margin-top: 5px;
    float: right;
    width: 495px;
    width: 49%;
    padding: 114px 0px;
}

.article {
    color: #777;
    background: #ebebeb;
    width: 380px;
    padding: 5px;
    margin: 15px 15px 15px 15px;
}

footer {
    /* position: fixed */
    margin-top: 5px;
    bottom: 0;
    padding: 2% 0%;
}
    
#clear_float::after {
    clear: both;
    display: table;
    content: "";
}